<h1>How many pomodoros??</h1>

<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Pomodoros</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @days.each do |day| %>
    <tr>
      <td><%= link_to day.date, day %></td>
      <td><%= day.pomodoros %></td>
      <td>
        <%= link_to 'Edit', edit_day_path(day.id) %>
        <%= link_to 'Delete', day, :method => 'delete' %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Date', new_day_path %></p>